<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!--兼容移动版的设备，支持响应式布局-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>大圣美文</title>
		<link href="/home/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/home/css/responsive-nav.css">
		<link rel="stylesheet" href="/home/css/main.css">
		<script src="/home/js/responsive-nav.js"></script>
		<style>
			* {
				padding: 0px;
				margin: 0px;
			}
			
			body {
				background-color: #F8F8F8
			}
			
			.col-md-2 {
				margin-top: 80px;
			}
			
			.col-md-10 {
				margin-top: 30px;
			}
			
			.aa {
				margin-top: 10px;
			}
			
			.bb {
				margin-top: 30px;
			}
			
			.ff {
				margin-left: 20px;
			}
			 
			.nn {
			     margin-top:20px;
			 
			}
			
			.qq {
				float: left;
				margin-left: 5px;
				
			}
			
			.tagMore {
				clear: both;
				margin-left: 55px;
			}
			
			#mm {
				clear: both;
			}
			
			.gg {
				width: 420px;
				display: block;
				margin-top: 5px;
				margin-left:80px
				
			}
			
			.aaa {
				color: #105cb6;
				font-size: 14px;
				font-weight: bold;
				text-decoration: underline;
				margin-left:40px
			}
			
			#xian {
				border: 1px dashed #e2e2e2;
				margin-top: 5px;
			}
			
			caption {
				margin-top: 20px;
			}
			.uu{
			   margin-left:25px
			}
			.xiaoshi {
				border: 1px solid #f3f3f5;
				width: 300px;
				height: 350px;
			}
			
			.zz {
				margin: 50px auto;
				margin-left: 20px;
			}
		</style>
	</head>

	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="list-group">
						<a href="#" class="list-group-item active"> 大圣社区 </a>
						<a href="#" class="list-group-item">瞭望大圣</a>
						<a href="#" class="list-group-item">大圣主板</a>
						<a href="#" class="list-group-item" style="background-color: #E38D13;">天涯网事</a>
						<a href="#" class="list-group-item">大圣别院</a>
						<a href="#" class="list-group-item">区域论坛</a>
						<a href="#" class="list-group-item">旅游论坛</a>
						<a href="#" class="list-group-item">职业交流</a>
						<a href="#" class="list-group-item">大学校园</a>
						<a href="#" class="list-group-item">大圣问答</a>
						<a href="#" class="list-group-item">大圣杂谈</a>
						<a href="#" class="list-group-item">我的大学</a>
						<a href="#" class="list-group-item" style="background-color: #E38D13;">百姓声音</a>
						<a href="#" class="list-group-item">经济论坛</a>
						<a href="#" class="list-group-item">股市论坛</a>
						<a href="#" class="list-group-item">掘金网络股</a>
						<a href="#" class="list-group-item">舞文弄墨</a>
						<a href="#" class="list-group-item">视频专区</a>
						<a href="#" class="list-group-item" style="background-color: #E38D13;">情感天地</a>
						<a href="#" class="list-group-item">时尚资讯</a>
						<a href="#" class="list-group-item">游戏地带</a>
						<a href="#" class="list-group-item">煮酒论史</a>
					</div>
				</div>
				<div class="col-md-10">
					<nav class="navbar navbar-default" role="navigation">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
								<a class="navbar-brand" href="#">大圣美文</a>
							</div>
							<div id="navbar" class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li class="active">
										<a href="#">首页</a>
									</li>
									<li>
										<a href="#">技术交流</a>
									</li>
									<li>
										<a href="#">乐于分享</a>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">其他更多 <span class="caret"></span></a>
										<ul class="dropdown-menu" role="menu">
				
											<li class="divider"></li>
											<li>
												<a href="#">在线帮助</a>
											</li>
											<li class="dropdown-header">联系我们</li>
											<li class="divider"></li>
											<li>
												<a href="#">关注我们</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<!--/.nav-collapse -->
						</div>
						<!--/.container-fluid -->
					</nav>

					<div class="row">
						<div class="col-md-7">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1"></li>
									<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<img src="/home/img/1.jpg" alt="...">
										<div class="carousel-caption">
										</div>
									</div>
									<div class="item">
										<img src="/home/img/2.jpg" alt="...">
										<div class="carousel-caption">
										</div>

									</div>
									<div class="item">
										<img src="/home/img/3.jpg" alt="...">
										<div class="carousel-caption">
										</div>
									</div>

								</div>

							</div>

							<p class="text-muted aa">【编辑推荐】日交易额百亿级交易系统的超轻量日志实现 (60/6422)</p>
							<p class="text-primary">[最多推荐]C#批量插入数据到Sqlserver中的四种方式(34/2037) »</p>
							<p class="text-success">[最多评论]MVC还是MVVM？或许VMVC更适合WinForm客户端(21/1136) »</p>
							<p class="text-info">[新闻头条]程序员们想说的是啥，你真听懂了吗？(19/2351) »</p>
							<p class="text-warning">[推荐新闻]卷了谷歌、阿里上百亿的Magic Leap承认作假 演示视频只是特效(2/1940) »</p>

							<ul class="nav nav-pills bb">
								<li class="active">
									<a href="#">首页</a>
								</li>
								<li>
									<a href="#">精华</a>
								</li>
								<li>
									<a href="#">候选</a>
								</li>
								<li>
									<a href="#">新闻</a>
								</li>
								<li>
									<a href="#">关注</a>
								</li>
								<li>
									<a href="#">我评</a>
								</li>
								<li>
									<a href="#">我赞</a>
								</li>
							</ul>

							
							
							
							  <% list.forEach(function(article){ %>
							  <div class="qq nn ">
							  <div>
								<img src="/home/img/upup.gif" class="qq">

							  </div>
							  
							  
							  
								<a style="font-size: 16px;" class="aaa"><%=article.title%></a>
								<ul>
									<li class="gg"><%=article.abstracts%></li>
								</ul>
								
								<div class="tagMore">
								<div class="tag SG_txtc uu">
									<span>
									<a id="r_10001_67443a610100vebv" href="#" target="_blank">阅读</a>(987) ┆
									<a target="_blank" href="http://blog.sina.com.cn/s/blog_67443a610100vebv.html#comment" id="c_10001_67443a610100vebv">评论</a>(0) ┆
									<a href="#" onclick="scope.articel_quote_alert &amp;&amp; scope.articel_quote_alert('49be626b01017lko' );return false;">转载原文</a>
									┆&nbsp;
									<a id="f_10001_67443a610100vebv" href="javascript:;" onclick="return false;">收藏</a>(0)</span>
									<span class="talk">
									<a href="/mine" target="_blank" class="ff">查看全文&gt;&gt;</a></span>
								</div>
							</div>
							<div id="xian"></div>
								
								
								</div>	
								 <% }); %>
						

							
							

							

							<nav>
								<ul class="pagination">
									<li class="disabled">
										<a href="#">&laquo;</a>
									</li>
									<li>
										<a href="#">1 <span class="sr-only">(current)</span></a>
									</li>
									<li>
										<a href="#">2<span class="sr-only">(current)</span></a>
									</li>
									<li class="active">
										<a href="#">3 <span class="sr-only">(current)</span></a>
									</li>
									<li>
										<a href="#">4 <span class="sr-only">(current)</span></a>
									</li>
									<li>
										<a href="#">5 <span class="sr-only">(current)</span></a>
									</li>
								</ul>
							</nav>

						</div>
						<div class="col-lg-4">
							<form role="form">
								<div class="form-group">
									<label for="exampleInputEmail1">用户名</label>
									<input  class="form-control" id="exampleInputEmail1">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">密码</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
								</div>
								<button type="submit" class="btn btn-default">登录</button>
							</form>

							<table class="table table-hover">
								<caption style="font-size: 20px;color: #E47911; ">最新新闻</caption>
								<thead>
									<tr>
										<th>空空狐创始人和资本方开撕 创投潜规则</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Amazon宣布将MXNet作为AWS的学习框架</td>
									</tr>
									<tr>
										<td>阿里巴巴宣布45款字体可永久免费使用</td>
									</tr>
									<tr>
										<td>乐视汽车又有新动作2.79亿元浙江德清拿地</td>
									</tr>
								</tbody>
							</table>

							<div class="xiaoshi">

								<table class="table">
									<caption style="font-size: 20px;color: #E47911; ">48小时阅读排行</caption>
									<thead>
										<tr>
											<th>日交易额百亿级交易系统的超轻量日志实现</th>
									</thead>
									<tbody>
										<tr class="active">
											<td>分享12306抢票心得-终极秒杀思路篇</td>
											<tr class="success">
												<td>C#批量插入数据到Sqlserver中的四种方式</td>
												<tr class="warning">
													<td>Azure 部署 Asp.NET Core Web App
														<</td>
															<tr class="danger">
																<td>MySQL误操作后如何快速回滚</td>
																<tr class="warning">
																	<td>面向UI编程框架：ui.js框架思路详细设计</td>
																	<tr class="active">
																		<td>MVC还是MVVM？或许VMVC</td>
																		
									</tbody>
								</table>

								<a style="font-size: 20px;color: #E47911; ">今日热点</a>
								<!-- Bottom to top -->
								<div class="row zz">
									<div class="col-sm-6">

										<!-- normal -->
										<div class="ih-item circle effect18 bottom_to_top">
											<a href="#">
												<div class="img"><img src="img/3.jpg"></div>
												<div class="info">
													<div class="info-back">
														<h3>高层组织会议</h3>
														<p>商讨中国的下一次行动</p>
													</div>
												</div>
											</a>
										</div>
										<!-- end normal -->
									</div>

								</div>

								<div>
								</div>

							</div>

						</div>

						<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
						<script src="/home/js/jquery.min.js"></script>
						<!-- Include all compiled plugins (below), or include individual files as needed -->
						<script src="/home/js/bootstrap.min.js"></script>
	</body>

</html>